
body{
    background-color: rgb(7, 7, 27);
    margin: 0;
}

.main-body{
    background-color: rgb(31, 8, 73);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    max-width: 1000px;
    height: 400px;
    border-radius: 10px;
    
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 30px;
}
.lfhead{
    width: 80%;
    color: white;
    font-family: myFirstFont
}
span{
    color: rgb(147, 64, 163);
}
.lfpara{
    width: 80%;
    color: rgb(206, 207, 212);
    font-size: 14px; font-family: myFirstFont
}

img{
    width: 100%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    filter: opacity(40%);
}
.right{
    background-color: rgb(109, 7, 168);
    border-radius: 10px;
    width: 50%;
}
.tab{
    color: white;
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-left: -50px;
    margin-top: 30px;
}
.mar{
    margin: 0;
}

@font-face {
    font-family: myFirstFont;
    src: url(Inter-VariableFont_slnt\,wght.ttf);
  }



@media screen and (max-width: 700px){
    .main-body{
        width: 80%;
        height: 95%;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .right{
        width: 100%;
        
    }
    .left{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    
    }
    .lfhead{
        margin-top: -20px;
        font-size: 12px;
        text-align: center;
    }
    .lfpara{
        text-align: center;
    }
    .tab{
        flex-direction: column;
        text-align: center;
        height: 13em;
        padding-left: 50px;
        
    }
    img{
        border-radius: 10px 10px 0px 0px;
    }

}

@media screen and (max-width: 375px){
    .tab{
        margin-top: -25px;
        height: 9em;
    }
}

@media screen and (width: 540px){
    .tab{
        margin-top: -25px;
        height: 8em;
    }
    .lfpara{
        margin-top: -8px;
    }
}

@media screen and (max-width: 373px){
    .tab{
        margin-top: -25px;
        height: 9em;
    }
}




